<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  
  	<!-- CONFIG DE BASE DE DATOS!!!!  -->
    <property name="connection.url">jdbc:mysql://localhost:3306/bdherenciahibernate?useSSL=false&amp;serverTimezone=UTC</property>
    <property name="connection.username">root</property>
    <property name="connection.password">Blink182cba1</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
  
  	<!-- ES PARA MOSTRAR EL SQL EN LA CONSOLA!!!! -->
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>


  	<!-- ES PARA MOSTRAR QUE ME CREE LAS TABLAS AUTOMATICAMENTE!!!! -->    
    <property name="hbm2ddl.auto">update</property>
    
  	<!-- ES PARA HACER EL MAPPING -->    
    <mapping class="edu.curso.java.hibernate.Producto" />
    <mapping class="edu.curso.java.hibernate.CategoriaProducto" />

          
    <mapping class="edu.curso.java.hibernate.herencia1.Persona1" />
    <mapping class="edu.curso.java.hibernate.herencia1.Empleado1" />
    <mapping class="edu.curso.java.hibernate.herencia1.Cliente1" />

    <mapping class="edu.curso.java.hibernate.herencia2.Persona2" />
    <mapping class="edu.curso.java.hibernate.herencia2.Empleado2" />
    <mapping class="edu.curso.java.hibernate.herencia2.Cliente2" />


    <mapping class="edu.curso.java.hibernate.herencia3.Persona3" />
    <mapping class="edu.curso.java.hibernate.herencia3.Empleado3" />
    <mapping class="edu.curso.java.hibernate.herencia3.Cliente3" />

     
</session-factory>
</hibernate-configuration>